/*
//color
/* a definir */
/*media queries, breakpoint*/
/*normalisation navigateurs et mise en forme du site*/
body {
  font-family: "Roboto", arial, sans-serif;
  position: relative;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a {
  outline: none;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.max-width {
  max-width: 1400px;
  margin: auto;
}

#main-display {
  /* animation a creer */
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 1;
}
.header h1 {
  font-family: "Shrikhand", arial, sans-serif;
  font-size: xx-large;
  font-weight: 500;
  padding-top: 10px;
}
.header__search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #d6d6d6;
  margin-top: 6px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 5px 4px 0px #bcbcbc;
}
.header__search__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
}
.header__search__input {
  max-width: 130px;
  border: none;
  background-color: #d6d6d6;
  font-family: "Roboto", arial, sans-serif;
}
.header__search__input::placeholder {
  text-align: center;
}
.header__search__input::focus:placeholder {
  color: #d6d6d6;
}
.header__presentation {
  text-align: center;
  padding-top: 35px;
  width: 100%;
  background-color: #efefef;
}
.header__presentation__title {
  font-size: 24px;
  width: 100%;
}
.header__presentation__text {
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
}
.header__button {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  padding-top: 35px;
  padding-bottom: 30px;
}
.header__button__style {
  width: 218px;
  height: 50px;
  border-radius: 30px;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  font-size: medium;
  border: none;
  cursor: pointer;
  box-shadow: 10px 10px 20px #bcbcbc;
}
.header__button__style:hover {
  box-shadow: 10px 10px 20px #565656;
}
.header__button__style p {
  color: #ffffff;
  padding-top: 14px;
}
.header__button__style:hover {
  /*animation a creer*/
}

#footer-display {
  /* animation a creer */
}

.footer {
  background-color: #232323;
  color: #ffffff;
  height: 100%;
}
.footer h4 {
  font-family: "Shrikhand", arial, sans-serif;
  font-weight: 200;
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px 5px 25px 15px;
  list-style-type: none;
}
.footer__list__elm {
  font-weight: 300;
  font-size: small;
  width: 90%;
}
.footer__list__elm__link {
  color: #ffffff;
}
.footer__list__elm__contain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.footer__list__elm__contain__text {
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */
