.footer {
	background-color: $color-back-primary;
	color: $color-lightscreen;
	height: 100%;

	@include mediaq {
		text-align: center;
		font-size: x-large;
	}

	h4 {
		font-family: $font-title;
		font-weight: 200;
		width: 90%;
		padding-top: 20px;
		padding-bottom: 20px;
		margin-left: 20px;
	}

	@include mediaq {
		font-size: xx-large;
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: flex-start;
		gap: 10px;
		padding: 0px 5px 25px 20px;
		list-style-type: none;

		@include mediaq {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			width: 80%;
			margin: auto;
			padding-bottom: 60px;
		}

		&__elm {
			font-weight: 300;
			font-size: small;
			width: 90%;

			@include mediaq {
				font-size: medium;
				padding-top: 5px;
			}

			&__link {
				color: $color-lightscreen;
			}

			&__contain {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;

				&__text {
					margin-left: 10px;
				}
			}
		}
	}
}
