.header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    z-index: 1;

    h1 {
        font-family: $font-title;
        font-size: xx-large;
        font-weight: 500;
        padding-top: 10px;
    }

    &__search {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: $color-input;
        margin-top: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: inset 0px 5px 4px 0px $color-boxshadow;

        &__icon {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border: none;
        }

        &__input {
            max-width: 130px;
            border: none;
            background-color: $color-input;
            font-family: $font-primary;
            font-size: 16px;

            @include mediaq {
                font-size: large;
            }

            &::placeholder {
                text-align: center;
            }

            &:focus::placeholder {
                color: $color-input;
            }
        }
    }

    &__presentation {
        text-align: center;
        padding-top: 35px;
        width: 100%;
        background-color: $color-back-secondary;

        &__title {
            font-size: 24px;
            width: 100%;
        }

        &__text {
            width: 100%;
            font-size: 18px;
            margin-top: 10px;
        }
    }

    &__button {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: $color-back-secondary;
        padding-top: 35px;
        padding-bottom: 30px;

        &__style {
            width: 218px;
            height: 50px;
            border-radius: 30px;
            background: linear-gradient($color-primary, $color-secondary);
            font-size: medium;
            border: none;
            cursor: pointer;
            box-shadow: 10px 10px 20px $color-boxshadow;

            &:hover {
                box-shadow: 10px 10px 20px $color-boxshadover;
            }

            p {
                color: $color-lightscreen;
                padding-top: 14px;
            }
        }
    }
}

