.nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 40px 0px 40px 0px;
    font-weight: bold;
    font-size: 24px;
    font-family: $font-primary;

    @include mediaq {
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        gap: 10px;
    }

    h3 {
        font-size: x-large;
        padding-left: 15px;
        padding-bottom: 20px;
    }

    &__list {
        width: 90%;

        @include mediaq {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }

        &__elm__link {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            box-shadow: 10px 10px 20px $color-boxshadow;
            border-radius: 20px;
            margin-top: 20px;
            width: 100%;
            min-width: 220px;
            height: 75px;
            background-color: $color-back-secondary;
            font-size: medium;
            position: relative;

            @include mediaq {
                min-width: 300px;
            }

            &:hover {
                box-shadow: 10px 10px 20px $color-boxshadover;

                i {
                    color: $color-primary;
                }
            }

            &:hover {
                background-color: $color-secondhover;
            }

            &__number {
                background-color: $color-primary;
                position: absolute;
                text-align: center;
                line-height: 20px;
                font-size: small;
                color: $color-lightscreen;
                width: 20px;
                max-width: 20px;
                height: 20px;
                border: 1px solid $color-primary;
                border-radius: 50%;
                left: -7px;
            }

            i {
                margin: 5px;
                color: $color-back-primary;
            }
        }
    }
}
