.header-menu {
    text-align: center;

    &__arrow {
        position: absolute;
        top: 20px;
        left: 20px;
        font-weight: 900;
        font-size: larger;
    }

    h1 {
        font-family: $font-title;
        font-size: xx-large;
        font-weight: 500;
        padding-top: 10px;
        padding-bottom: 5px;
    }
}

.resto {
    font-family: $font-primary;
    background-color: $color-back-secondary;
    padding-bottom: 40px;

    &-image {
        object-fit: cover;
        width: 100%;
        height: 270px;
    }

    &-title {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: $color-back-secondary;
        margin-top: -50px;
        padding-top: 20px;
        padding-left: 15px;
        position: relative;
        height: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        @include mediaq {
            justify-content: center;
        }

        & h2 {
            font-family: $font-title;
            font-size: 26px;
            font-weight: 500;
            padding-right: 15px;
            padding-bottom: 10px;
        }

        &__anim {
            position: relative;
            top: 40px;
            left: 60px;
            width: auto;
        }

    }

    &-container {
        padding-bottom: 20px;
        padding-left: 15px;
        background-color: $color-back-secondary;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;

        @include mediaq {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: stretch;
            margin: auto;
        }
    }
}


.menu {
    width: 95%;
    padding-top: 20px;
    opacity: 1;

    @include mediaq {
        width: 30%;
        min-width: 350px;
    }

    h3 {
        padding-bottom: 10px;
        position: relative;
        font-weight: 300;
        /* souligne apres les titres*/
        &::after {
            content: "";
            position: absolute;
            left: 0px;
            bottom: 0.5px;
            width: 40px;
            height: 4px;
            background-color: $color-tertiary;
        }
    }

    &__list__item {
        width: 100%;
        height: 70px;
        margin-top: 15px;
        margin-bottom: 5px;
        background-color: $color-lightscreen;
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        box-shadow: 10px 10px 20px $color-boxshadow;
        overflow: hidden;
        cursor: pointer;

        &:hover {
            box-shadow: 10px 10px 20px $color-boxshadover;

            .menu__list__item__circle {
                margin-right: 60px;

                i {
                    transform: rotate(1turn); /*rotation initiale non visible avant animation*/
                }
            }
        }

        &__text {
            width: 100%;
            padding-left: 10px;
            overflow: hidden;

            &__txp {
                $color-lightscreen-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; /*met 3 petits points quand texte coupe*/
                font-weight: 900;
                font-size: 16px;
            }

            &__txo {
                $color-lightscreen-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; /*met 3 petits points quand texte coupe*/
                font-size: 14px;
            }
        }

        b {
            font-weight: 500;
            font-size: 16px;
            align-self: flex-end;
            margin-right: -50px;
            padding-bottom: 10px;
        }

        &__circle {
            width: 65px;
            height: 70px;
            border-radius: 0px 15px 15px 0px;
            background-color: $color-tertiary;
            position: relative;
            right: -61px;
            transition: all ease-in-out 450ms; /*animation*/
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;

            i {
                color: $color-lightscreen;
                font-size: 20px;
                transition: all ease-in-out 500ms; /*animation*/
            }
        }
    }
}

    .menu1 {
        animation: slow 600ms linear 0ms forwards 1 normal;
    }

    .menu2 {
        animation: slow 600ms linear 600ms forwards 1 normal;
    }

    .menu3 {
        animation: slow 600ms linear 1200ms forwards 1 normal;
    }

    .button {
        width: 218px;
        height: 50px;
        border-radius: 30px;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        font-size: medium;
        border: none;
        cursor: pointer;
        box-shadow: 10px 10px 20px $color-boxshadow;
        background-color: $color-back-secondary;
        margin: 30px auto;
        text-align: center;

        &:hover {
            box-shadow: 10px 10px 20px $color-boxshadover;
        }

        p {
            color: $color-lightscreen;
            padding-top: 14px;
        }
    }
