/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/*loader*/
@-webkit-keyframes loader {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    94% {
        opacity: 0.8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    95% {
        opacity: 0.6;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    96% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    98% {
        opacity: 0.4;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    90% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    94% {
        opacity: 0.8;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    95% {
        opacity: 0.6;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    96% {
        opacity: 0.5;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    98% {
        opacity: 0.4;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}
/*animation des elements du loader*/
@-webkit-keyframes fourchette {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes fourchette {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0%;
    }
}

@-webkit-keyframes table {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes table {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0%;
    }
}

@-webkit-keyframes couteau {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0%;
    }
}

@keyframes couteau {
    0% {
        margin-left: 110%;
    }

    100% {
        margin-left: 0%;
    }
}

@-webkit-keyframes turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes turn {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes progress-bar {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 0.1;
    }

    17% {
        -webkit-transform: scaleX(0.18);
        transform: scaleX(0.18);
    }

    24% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
    }

    46% {
        -webkit-transform: scaleX(0.81);
        transform: scaleX(0.81);
    }

    85%, 100% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes progress-bar {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 0.1;
    }

    17% {
        -webkit-transform: scaleX(0.18);
        transform: scaleX(0.18);
    }

    24% {
        -webkit-transform: scaleX(0.4);
        transform: scaleX(0.4);
        -webkit-animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
        animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
    }

    46% {
        -webkit-transform: scaleX(0.81);
        transform: scaleX(0.81);
    }

    85%, 100% {
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
/*animation des menus des pages details*/
@-webkit-keyframes slow {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slow {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }

    50% {
        opacity: 0.5;
        -webkit-transform: translateY(20%);
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
    }
}
/*normalisation navigateurs et mise en forme du site*/
body {
    font-family: "Roboto", arial, sans-serif;
    position: relative;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a {
    outline: none;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.max-width {
    max-width: 1400px;
    margin: auto;
}

/*loader du site*/
.loader {
    width: 100%;
    height: 100%;
    background-color: #353535;
    padding: 0px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    -webkit-animation: loader 5000ms ease-in-out 0ms forwards;
    animation: loader 5000ms ease-in-out 0ms forwards;
    /*loader barre de progression*/
    /*loader titre*/
}

.loader__container01 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

.loader__container01__fourchette {
    margin-right: 5px;
    height: 150px;
    width: 8px;
    border-left: 5px solid #9356dc;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    background: -o-linear-gradient(#9356dc, #ff79da);
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
    -webkit-animation: fourchette 1000ms linear;
    animation: fourchette 1000ms linear;
    -webkit-animation: turn 1s linear 1000ms 1;
    animation: turn 1s linear 1000ms 1;
    /* linear permet de fluidifier le rythme*/
}

.loader__container01__table {
    height: 200px;
    width: 200px;
    font-size: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    background: -o-linear-gradient(#ffffff, #efefef);
    background: linear-gradient(#ffffff, #efefef);
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
    border-radius: 50%;
    border: 50px solid white;
    -webkit-animation: table 1000ms linear;
    animation: table 1000ms linear;
}

    .loader__container01__table i {
        color: #9356dc;
    }

.loader__container01__couteau {
    margin-left: 5px;
    height: 150px;
    width: 8px;
    border-left: 5px solid #9356dc;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    background: -o-linear-gradient(#9356dc, #ff79da);
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
    -webkit-animation: couteau 1000ms linear;
    animation: couteau 1000ms linear;
    -webkit-animation: turn 1s linear 1000ms 1;
    animation: turn 1s linear 1000ms 1;
    /* linear permet de fluidifier le rythme*/
}

.loader__container02 {
    width: 70%;
    height: 24px;
    padding-top: 24px;
    padding-bottom: 12px;
}

.loader__container02__progress {
    height: 2em;
    background: #ffffff;
    padding: 2px;
    height: 24px;
}

.loader__container02__progress__bar {
    padding: 0px;
    margin: 0px;
    height: 24px;
    background: -webkit-linear-gradient(360deg, #9356dc, #ff79da);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    transform: scaleX(0.5);
    -webkit-animation: progress-bar 3000ms 2000ms both;
    animation: progress-bar 3000ms 2000ms both;
}

.loader__container03 h1 {
    font-family: "Shrikhand", arial, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-animation: turn 1s linear 1000ms 1;
    animation: turn 1s linear 1000ms 1;
    /* linear permet de fluidifier le rythme*/
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    z-index: 1;
}

    .header h1 {
        font-family: "Shrikhand", arial, sans-serif;
        font-size: xx-large;
        font-weight: 500;
        padding-top: 10px;
    }

.header__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    background-color: #d6d6d6;
    margin-top: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: inset 0px 5px 4px 0px #bcbcbc;
    box-shadow: inset 0px 5px 4px 0px #bcbcbc;
}

.header__search__icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
}

.header__search__input {
    max-width: 130px;
    border: none;
    background-color: #d6d6d6;
    font-family: "Roboto", arial, sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .header__search__input {
        font-size: large;
    }
}

.header__search__input::-webkit-input-placeholder {
    text-align: center;
}

.header__search__input::-moz-placeholder {
    text-align: center;
}

.header__search__input:-ms-input-placeholder {
    text-align: center;
}

.header__search__input::-ms-input-placeholder {
    text-align: center;
}

.header__search__input::placeholder {
    text-align: center;
}

.header__search__input:focus::-webkit-input-placeholder {
    color: #d6d6d6;
}

.header__search__input:focus::-moz-placeholder {
    color: #d6d6d6;
}

.header__search__input:focus:-ms-input-placeholder {
    color: #d6d6d6;
}

.header__search__input:focus::-ms-input-placeholder {
    color: #d6d6d6;
}

.header__search__input:focus::placeholder {
    color: #d6d6d6;
}

.header__presentation {
    text-align: center;
    padding-top: 35px;
    width: 100%;
    background-color: #efefef;
}

.header__presentation__title {
    font-size: 24px;
    width: 100%;
}

.header__presentation__text {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}

.header__button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #efefef;
    padding-top: 35px;
    padding-bottom: 30px;
}

.header__button__style {
    width: 218px;
    height: 50px;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
    background: -o-linear-gradient(#9356dc, #ff79da);
    background: linear-gradient(#9356dc, #ff79da);
    font-size: medium;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
}

    .header__button__style:hover {
        -webkit-box-shadow: 10px 10px 20px #565656;
        box-shadow: 10px 10px 20px #565656;
    }

    .header__button__style p {
        color: #ffffff;
        padding-top: 14px;
    }

.footer {
    background-color: #353535;
    color: #ffffff;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .footer {
        text-align: center;
        font-size: x-large;
    }
}

.footer h4 {
    font-family: "Shrikhand", arial, sans-serif;
    font-weight: 200;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
}

@media screen and (min-width: 768px) {
    .footer {
        font-size: xx-large;
    }
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 10px;
    padding: 0px 5px 25px 20px;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .footer__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 80%;
        margin: auto;
        padding-bottom: 60px;
    }
}

.footer__list__elm {
    font-weight: 300;
    font-size: small;
    width: 90%;
}

@media screen and (min-width: 768px) {
    .footer__list__elm {
        font-size: medium;
        padding-top: 5px;
    }
}

.footer__list__elm__link {
    color: #ffffff;
}

.footer__list__elm__contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__list__elm__contain__text {
    margin-left: 10px;
}

.resto-title__anim .fas,
.resto-title__anim .far,
.major__container__card__text__anim .fas,
.major__container__card__text__anim .far {
    width: 30px;
    right: 10px;
    bottom: 10px;
    font-size: 30px;
    position: absolute;
}

/*gestion du coeur sur la page accueil*/
.major__container__card__text__anim .fas, .resto-title__anim .fas {
    /*coeur rose degrade*/
    opacity: 0;
    -webkit-transition: -webkit-transform ease 600ms;
    transition: -webkit-transform ease 600ms;
    -o-transition: transform ease 600ms;
    transition: transform ease 600ms;
    transition: transform ease 600ms, -webkit-transform ease 600ms;
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    z-index: 9;
}

.major__container__card__text__anim:hover .fas, .resto-title__anim:hover .fas {
    /*au survol coeur rose degrade*/
    background: -webkit-linear-gradient(bottom, #9356dc 30%, #ff79da 70%);
    background-clip: text;
    /*necessaire sinon le coeur apparait sous forme de rectangle*/
    -webkit-background-clip: text;
    color: transparent;
    /*necessaire sinon le coeur apparait noir*/
    opacity: 1;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    z-index: 10;
}

/*contenu principal de la page accueil*/
.major {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 5%;
    background-color: #efefef;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 20px;
}

.major__title {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 25px 0px 0px 15px;
    padding-bottom: 20px;
    font-size: x-large;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {
    .major__title {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

.major__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .major__container {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
}

.major__container__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-radius: 15px;
    width: 90%;
    height: 80%;
    background-color: #efefef;
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .major__container__card {
        width: 45%;
        border: 1px solid #bcbcbc;
    }
}

.major__container__card:hover {
    -webkit-box-shadow: 10px 10px 20px #565656;
    box-shadow: 10px 10px 20px #565656;
}

.major__container__card--nouv {
    position: absolute;
    font-weight: bold;
    top: 10px;
    right: 10px;
    width: 70px;
    height: 30px;
    text-align: center;
    line-height: 27px;
    background-color: #99e2d0;
    color: #278870;
    font-size: small;
}

.major__container__card a {
    width: 100%;
}

.major__container__card__img {
    border-radius: 15px 15px 0px 0px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    max-height: 180px;
}

.major__container__card__text {
    height: 20%;
    margin: 10px;
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    padding: 40px 0px 40px 0px;
    font-weight: bold;
    font-size: 24px;
    font-family: "Roboto", arial, sans-serif;
}

@media screen and (min-width: 768px) {
    .nav {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 50px;
        width: 100%;
        gap: 10px;
    }
}

.nav h3 {
    font-size: x-large;
    padding-left: 15px;
    padding-bottom: 20px;
}

.nav__list {
    width: 90%;
}

@media screen and (min-width: 768px) {
    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

.nav__list__elm__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
    border-radius: 20px;
    margin-top: 20px;
    width: 100%;
    min-width: 220px;
    height: 75px;
    background-color: #efefef;
    font-size: medium;
    position: relative;
}

@media screen and (min-width: 768px) {
    .nav__list__elm__link {
        min-width: 300px;
    }
}

.nav__list__elm__link:hover {
    -webkit-box-shadow: 10px 10px 20px #565656;
    box-shadow: 10px 10px 20px #565656;
}

    .nav__list__elm__link:hover i {
        color: #9356dc;
    }

.nav__list__elm__link:hover {
    background-color: #e4d5f6;
}

.nav__list__elm__link__number {
    background-color: #9356dc;
    position: absolute;
    text-align: center;
    line-height: 20px;
    font-size: small;
    color: #ffffff;
    width: 20px;
    max-width: 20px;
    height: 20px;
    border: 1px solid #9356dc;
    border-radius: 50%;
    left: -7px;
}

.nav__list__elm__link i {
    margin: 5px;
    color: #353535;
}

.header-menu {
    text-align: center;
}

.header-menu__arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: 900;
    font-size: larger;
}

.header-menu h1 {
    font-family: "Shrikhand", arial, sans-serif;
    font-size: xx-large;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 5px;
}

.resto {
    font-family: "Roboto", arial, sans-serif;
    background-color: #efefef;
    padding-bottom: 40px;
}

.resto-image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 270px;
}

.resto-title {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #efefef;
    margin-top: -50px;
    padding-top: 20px;
    padding-left: 15px;
    position: relative;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .resto-title {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.resto-title h2 {
    font-family: "Shrikhand", arial, sans-serif;
    font-size: 26px;
    font-weight: 500;
    padding-right: 15px;
    padding-bottom: 10px;
}

.resto-title__anim {
    position: relative;
    top: 40px;
    left: 60px;
    width: auto;
}

.resto-container {
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: #efefef;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (min-width: 768px) {
    .resto-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        margin: auto;
    }
}

.menu {
    width: 95%;
    padding-top: 20px;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .menu {
        width: 30%;
        min-width: 350px;
    }
}

.menu h3 {
    padding-bottom: 10px;
    position: relative;
    font-weight: 300;
    /* souligne apres les titres*/
}

    .menu h3::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0.5px;
        width: 40px;
        height: 4px;
        background-color: #99e2d0;
    }

.menu__list__item {
    width: 100%;
    height: 70px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-radius: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
    overflow: hidden;
    cursor: pointer;
}

    .menu__list__item:hover {
        -webkit-box-shadow: 10px 10px 20px #565656;
        box-shadow: 10px 10px 20px #565656;
    }

        .menu__list__item:hover .menu__list__item__circle {
            margin-right: 60px;
        }

            .menu__list__item:hover .menu__list__item__circle i {
                -webkit-transform: rotate(1turn);
                -ms-transform: rotate(1turn);
                transform: rotate(1turn);
                /*rotation initiale non visible avant animation*/
            }

.menu__list__item__text {
    width: 100%;
    padding-left: 10px;
    overflow: hidden;
}

.menu__list__item__text__txp {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*met 3 petits points quand texte coupe*/
    font-weight: 900;
    font-size: 16px;
}

.menu__list__item__text__txo {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /*met 3 petits points quand texte coupe*/
    font-size: 14px;
}

.menu__list__item b {
    font-weight: 500;
    font-size: 16px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: -50px;
    padding-bottom: 10px;
}

.menu__list__item__circle {
    width: 65px;
    height: 70px;
    border-radius: 0px 15px 15px 0px;
    background-color: #99e2d0;
    position: relative;
    right: -61px;
    -webkit-transition: all ease-in-out 450ms;
    -o-transition: all ease-in-out 450ms;
    transition: all ease-in-out 450ms;
    /*animation*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .menu__list__item__circle i {
        color: #ffffff;
        font-size: 20px;
        -webkit-transition: all ease-in-out 500ms;
        -o-transition: all ease-in-out 500ms;
        transition: all ease-in-out 500ms;
        /*animation*/
    }

.menu1 {
    -webkit-animation: slow 600ms linear 0ms forwards 1 normal;
    animation: slow 600ms linear 0ms forwards 1 normal;
}

.menu2 {
    -webkit-animation: slow 600ms linear 600ms forwards 1 normal;
    animation: slow 600ms linear 600ms forwards 1 normal;
}

.menu3 {
    -webkit-animation: slow 600ms linear 1200ms forwards 1 normal;
    animation: slow 600ms linear 1200ms forwards 1 normal;
}

.button {
    width: 218px;
    height: 50px;
    border-radius: 30px;
    background: -webkit-linear-gradient(#9356dc, #ff79da);
    font-size: medium;
    border: none;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 20px #bcbcbc;
    box-shadow: 10px 10px 20px #bcbcbc;
    background-color: #efefef;
    margin: 30px auto;
    text-align: center;
}

    .button:hover {
        -webkit-box-shadow: 10px 10px 20px #565656;
        box-shadow: 10px 10px 20px #565656;
    }

    .button p {
        color: #ffffff;
        padding-top: 14px;
    }
